@font-face {
  font-family: 'bpreplay';
  src: url('./fonts/bpreplay-webfont.woff2') format('woff2'),
       url('./fonts/bpreplay-webfont.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'bpreplay';
  src: url('./fonts/bpreplaybold-webfont.woff2') format('woff2'),
       url('./fonts/bpreplaybold-webfont.woff') format('woff');
  font-weight: bold;
}

#root {
  max-width: 1280px;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'bpreplay','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  text-shadow: 0px 0px 5px black;
  background: linear-gradient(161deg, rgba(0,0,0,1) 0%, rgba(131,58,180,1) 24%, rgba(253,29,29,1) 58%, rgba(252,176,69,1) 100%);;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.trackers {
  text-align: end;
  font-size: 24px;
  font-weight: bold;
}

.card {
  width: 230px;
  height: 250px;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 2px 2px 3px;
}

.card-container {
  padding: 30px;
  margin: 20px;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  border: 2px solid;
  border-radius: 10px;
  background-color: #0000006f;
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

h1 {
  font-family: 'bpreplay','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px; 
}

h1 > span {
  color: #fffa5c;
}

p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.win-container {
  position: absolute;
  top: 45vh;

  background-color: #421e44;
  display: flex;

  width: 80vw;
  height: auto;

  padding: 50px;

  border-radius: 20px;
  border: 2px solid;
  box-shadow: 0px 0px 5px;
}

.win-text {
  font-size: 26px;
  font-weight: bold;
}